{% extends 'base.html' %}

{% block title %}Add Comment{% endblock %}

{% block content %}
    <div style="background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2>Add Comment</h2>
        <form method="post" action="{% url 'add_comment' product_id=product.id %}">
            {% csrf_token %}
            {{ form.text.label_tag }}
            {{ form.text }}
            {% for error in form.text.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            <button type="submit">Submit Comment</button>
        </form>
        <a href="{% url 'product_detail' product_id=product.id %}">Back to Product Detail</a>
    </div>
{% endblock %}
